@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Oxygen&display=swap');

html,
body,
#__next {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    height: 100%;
    width: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

:root {
    /* Colors */
    --clr-primary: hsla(144, 44%, 55%, 1);
    --clr-primary-translucent: hsla(144, 44%, 55%, 0.6);
    --clr-dark: hsla(178, 28%, 18%, 1);
    --clr-dark-translucent: hsla(178, 28%, 18%, 0.5);
    --clr-white: hsla(0, 0%, 99%, 1);
    --clr-white-translucent: hsla(0, 0%, 99%, 0.5);
    --clr-black: hsla(0, 2%, 11%, 1);
    --clr-black-translucent: hsla(0, 2%, 11%, 0.6);

    /* Fonts */
    --font-heading: 'Nunito', sans-serif;
    --font-basic: 'Oxygen', sans-serif;
}

a {
    color: var(--clr-primary);
    text-decoration: none;
}

button:focus,
a:focus,
input:focus {
    outline: none;
}

.background-black {
    background-color: var(--clr-black);
}

.background-black-translucent {
    background-color: var(--clr-black-translucent);
}

.background-white {
    background-color: var(--clr-white);
}

.background-white-translucent {
    background-color: var(--clr-white-translucent);
}

.background-dark {
    background-color: var(--clr-dark);
}

.background-dark-translucent {
    background-color: var(--clr-dark-translucent);
}

.background-primary {
    background-color: var(--clr-primary);
}

.background-primary-traslucent {
    background-color: var(--primary-translucent);
}

.foreground-black {
    color: var(--clr-black);
}

.foreground-white {
    color: var(--clr-white);
}

.foreground-dark {
    color: var(--clr-dark);
}

.foreground-primary {
    color: var(--clr-primary);
}

.foreground-error {
    color: #e63946;
}

.heading-font {
    font-family: var(--font-heading);
}

.normal-font {
    font-family: var(--font-basic);
}

.heading-text {
    font-family: var(--font-heading);
    font-size: 2.75rem;
    font-weight: 700;
    letter-spacing: 0.25rem;
    text-transform: capitalize;
}

.subheading-text {
    font-family: var(--heading-font);
    font-size: 2rem;
    font-weight: 400;
}

.normal-text {
    font-family: var(--font-basic);
    font-size: 1rem;
    font-weight: 400;
}

@media (max-width: 800px) {
    .heading-text {
        font-size: 2rem;
    }

    .subheading-text {
        font-size: 1.5rem;
    }
}

.uppercase-text {
    text-transform: uppercase;
}

.lowercase-text {
    text-transform: lowercase;
}

.center-text {
    text-align: center;
}

.glass-effect {
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    box-shadow: 0 0 16px 0 var(--clr-primary-translucent);
}

.btn-pulse {
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
    width: 75%;
    padding: 2.5%;
    border: none;
    cursor: pointer;
    transition: 0.25s;
}

.btn-pulse:hover {
    animation: pulse 1s;
    box-shadow: 0 0 0 2rem hsla(0, 2%, 11%, 0);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--clr-primary-translucent);
    }
}

.submit-button {
    background-color: var(--clr-primary);
    color: var(--clr-white);
    font-size: 1.5rem;
    text-align: center;
    border: none;
    border-radius: 10rem;
    outline: 3px solid transparent;
    width: 50%;
    padding: 0.75rem 2rem;
    transition: all 0.7s;
    cursor: pointer;
}

.submit-button.dark {
    background-color: var(--clr-dark);
}

.submit-button:hover {
    outline: 3px solid var(--clr-white);
    /* box-shadow: 0 0 10px 2px var(--clr-primary-translucent); */
}

.submit-button.dark:hover {
    outline: 3px solid var(--clr-primary);
    /* box-shadow: 0 0 10px 2px var(--clr-primary-translucent); */
}

.submit-border {
    border: 2.5px solid var(--clr-primary);
    color: var(--clr-primary);
    background-color: transparent;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 10rem;
    width: 50%;
    padding: 0.75rem 2rem;
    transition: all 0.7s;
    cursor: pointer;
}

.submit-border.light {
    border: 2.5px solid var(--clr-white);
    color: var(--clr-white);
}

.submit-border.dark {
    border: 2.5px solid var(--clr-dark);
    color: var(--clr-dark);
}

.submit-border:hover {
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

.submit-border.dark:hover {
    background-color: var(--clr-dark);
    color: var(--clr-white);
}

.submit-border.light:hover {
    background-color: var(--clr-white);
    color: var(--clr-dark);
}

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

.border-radius-10 {
    border-radius: 10px;
}

.border-radius-15 {
    border-radius: 15px;
}
