#home {
    display: flex;
    height: 100%;
}

.direction {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.map {
    width: 65%;
    background-color: red;
}
